* {
    margin: 0;
}

h1 {
    position: absolute;
    margin-left: 30%;
    margin-top: 20%;
    color: white;
    letter-spacing: 10px;
    font: 1200% Marker Felt, fantasy;
}

body {
    background-image: url(background.jpg);
}

div {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

h2 {
    color: white;
    margin-left: 40%;
    margin-top: 35%;
    font: 200% Brush Script MT, Brush Script Std, cursive;
}

/*menu*/

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    text-decoration: none;
    outline: none;
    transition: .4s ease-in-out;
}

.topmenu {
    backface-visibility: hidden;
    background: rgba(255, 255, 255, .8);
}

.topmenu > li {
    display: inline-block;
    position: relative;
}

.topmenu > li > a {
    font-family: 'Exo 2', sans-serif;
    height: 70px;
    line-height: 70px;
    padding: 0 30px;
    font-weight: bold;
    color: #003559;
    text-transform: uppercase;
}


.topmenu li a:hover {
    color: #278639;
}

.submenu {
    background: white;
    border: 2px solid #003559;
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    width: 150px;
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: 0% 0%;
    transition: .6s ease-in-out;
}

.topmenu > li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: perspective(600px) rotateX(0deg);
}

.submenu li a {
    color: #7f7f7f;
    font-size: 13px;
    line-height: 36px;
    padding: 0 25px;
    font-family: 'Kurale', serif;
}